<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="user/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Home Page</title>
</head>
<body>
	<section>

		<div class="container">

			<div class="card">
				<div class="card-body">
				<div class="text-center">
				<img src="" style="height: 200px; width: 200px;"
						class="my_profile_picture" th:src="@{'/img/'+${user.imageUrl}}"
						alt="profile photo" />
				
				</div>
					<h1 class="text-center mt-3" th:text="${user.name}"></h1>
					<div class="table-responsive">
					
					
					<table class="table text-center table-hover">
						<thead class="thead-light">
							<tr>
								<th scope="col">#USERID</th>
								<th>SCMUSER</th>

							</tr>
						</thead>
						<tbody>

							<th scope="col">Email</th>
							<td><span th:text="${user.email}"></span></td>
							<tr>
								<th scope="row">Role</th>
								<td><span th:text="${user.role}"></span></td>
							</tr>
							<tr>
								<th scope="row">Account Active</th>
								<td><span th:text="${user.enabled}"></span></td>
							</tr>
							<tr>
								<th scope="row">About you</th>
								<td><span th:text="${user.about}"></span></td>
							</tr>

						</tbody>
						
					</table>
					
					</div>
					<div class="container mt-3">
						<button 
	 						th:attr="onclick=|deleteContactConfirm('${user.email}','${user.name}','0','user');|"  
						 	class="btn btn-danger btn-sm btn-block">Delete</button>
						
						
							<form class="mt-2"
								enctype="multipart/form-data" th:action="@{'/user/update_account/'+${user.email}}" method="post">
							
								<button type="submit" class="btn btn-success btn-sm btn-block">Update</button>
							</form>
					
								
					</div>
					
		
					
				</div>
			</div>
		</div>
		<script>
        $(document).ready(() => {
          $(".item").removeClass("active");
          $("#profile-link").addClass("active");
        });
      </script>
		
	</section>
</body>
</html>